/.vscode
/0215
/arrayAccess.c
/arrayAccess.exe
/arrString.c
/arrString.exe
/chapter15.c
/chapter15.exe
/new
/ReadString.c
/ReadString.exe
/StartEndString.c
/StartEndString.exe
/tempCodeRunnerFile.c
/tempCodeRunnerFile.exe
/test.cpp
/test.exe